<%- contentFor('body') %>
<table class="table table-striped">
    <thead>
        <th width="1%">#</th>
        <th>Tarih</th>
        <th>Konu</th>
        <th>Oluşturan</th>
        <th>Son Cevap</th>
    </thead>
    <tbody>
        <td>
            <strong>
                1)
            </strong>
        </td>
        <td>21-10-2014</td>
        <td>
            <a href="/question/detail/2">
                Mavidurak-IO Ne Kadar Güzel?
            </a>
        </td>
        <td>Özgür Adem Işıklı</td>
        <td>Furkan Başaran</td>    
    </tbody>
</table>

<nav>
  <ul class="pagination">
    <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
  </ul>
</nav>

