<%- contentFor('body') %>
<table class="table table-striped">
    <thead>
        <th width="1%">#</th>
        <th>Tarih</th>
        <th>Konu</th>
        <th>Oluşturan</th>
        <th>Son Cevap</th>
    </thead>
    <tbody>
        <td>
            <strong>
                1)
            </strong>
        </td>
        <td>21-10-2014</td>
        <td>
            <a href="/question/detail/2">
                Mavidurak-IO Ne Kadar Güzel?
            </a>
        </td>
        <td>Özgür Adem Işıklı</td>
        <td>Furkan Başaran</td>    
    </tbody>
</table>
