<html>
    <head>
        <title> 
            Mavidurak-IO Soru Cevap Uygulaması
        </title>
        <link rel="stylesheet" href="/styles.min.css">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Mavidurak-IO</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/add_question"><i class="fa fa-plus"></i> Yeni Soru</a></li>
                    </ul>                    
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/login"><i class="fa fa-key"></i> Oturum Aç</a></li>
                            <li><a href="/signup"><i class="fa fa-edit"></i> Kayıt Ol</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" 
                                    data-toggle="dropdown" role="button" aria-expanded="false">
                                  Özgür Adem Işıklı <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/logout">Oturumu Kapat</a></li>
                                </ul>
                            </li>
                        </ul>
                        
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
            <%-body%>
            <hr>
            <div class="text-right">
                <small>
                    Mavidurak-IO Uygulama Atölyesinde Geliştirilmiştir.
                </small>
            </div>
        </div>
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </body>
</html>