<%- contentFor('body') %>

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h3>Konu Başlığı</h3>
            <p>
                Quando laoreet posidonium qui cu, tale tation ocurreret ne vim. Debet quaeque deseruisse per ei. Ut oratio laudem pri, tation homero veritus duo id. Ea doming ponderum consectetuer quo, quot tota consectetuer pri et.    
            </p>
            <hr>
            <div class="text-right">
                Özgür Adem Işıklı -
                <span class="label label-primary">
                    <i class="fa fa-calendar"></i> 21-10-2014
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                Cevap Yazma
            </div>
            <div class="panel-body">
                <form role="form" method="post" action="/add_answer/1">
                    <div class="form-group">
                        <label for="answer">Cevabınız</label>
                        <textarea class="form-control" id="answer" name="answer"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success    ">
                        <i class="fa fa-save"></i> Gönder
                    </button>
                </form>        
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                <span class="badge">Furkan Başaran</span>
            </li>
        </ul>    
    </div>
</div>